<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">نحن نساعدك لتصبح متكلّم للغة الإنجليزية</h2>
                <hr class="light">
                <p class="text-faded">هناك الكثير من الأشياء التي ممكن أن تتعلمها معنا تابعنا على مواقع التواصل الإجتماعي لتعرف المزيد</p>
                <a style="width: 120px; text-align: center;" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="btn btn-default btn-xl wow tada" padding="15px 30px">فيسبوك</a>
                <a style="width: 120px; text-align: center;" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="btn col-lg-offset-1 btn-default btn-xl wow tada">تويتر</a>
            </div>
        </div>
    </div>
</section>
